<%= javascript_include_tag 'admin/parkings/new', 'data-turbo-track': 'reload', async: true %>

<h1 class="pt-10 p-3 text-2xl text-center">管理者専用パーキング登録</h1>

<div class="base-container mt-5 rounded-3xl bg-primary"
     data-controller="parking-form">
  <div class="mt-5">
    <%= form_with model: @parking, url: admin_parkings_path do |f| %>
      <div class="flex gap-3">
        <div class="mx-auto flex flex-col gap-3">
          <div>
            <%= f.label :name %><br>
            <%= f.text_field :name,
                class: 'w-64 h-10 px-3 drop-shadow-md rounded-full' %>
          </div>
          <div >
            <%= f.label :postal_code %><br>
            <%= f.text_field :postal_code,
                id: 'postcode-input',
                class: 'w-64 h-10 px-3 drop-shadow-md rounded-full' %>
          </div>
          <div >
            <%= f.label :street_address %><br>
            <%= f.text_field :street_address,
                id: 'address-input',
                class: 'w-64 h-10 px-3 drop-shadow-md rounded-full' %>
          </div>
          <div >
            <%= f.label :info %><br>
            <%= f.text_area :info,
                class: 'w-64 h-32 p-3 drop-shadow-md rounded-3xl' %>
          </div>
        </div>
        <div>
          <div class="mx-auto flex flex-col gap-3" id='fees-container'>
            <!-- TurboStreamでフォーム追加 -->
          </div>
            <%= link_to '料金フォーム追加', fee_field_admin_parkings_path,
                class: 'btn-submit',
                data: { turbo_stream: true } %>
        </div>
        <div>
          <div class="mx-auto flex flex-col gap-3", id="capacities-container">
            <!-- TurboStreamでフォーム追加 -->
          </div>
            <%= link_to '台数フォーム追加', capacity_field_admin_parkings_path,
                class: 'btn-submit',
                data: { turbo_stream: true } %>
        </div>
        <%= f.fields_for :weekday_text do |f| %>
          <div class="mx-auto flex flex-col gap-3">
            <%= f.fields_for :monday do |f| %>
              <div>
                月曜日：
                <%= f.time_field :start, class: 'w-24 h-10 px-3 drop-shadow-md rounded-full' %>
                〜
                <%= f.time_field :end, class: 'w-24 h-10 px-3 drop-shadow-md rounded-full' %>
                <%= f.check_box :no_info %>
              </div>
            <% end %>
            <%= f.fields_for :tuesday do |f| %>
              <div>
                火曜日：
                <%= f.time_field :start, class: 'w-24 h-10 px-3 drop-shadow-md rounded-full' %>
                〜
                <%= f.time_field :end, class: 'w-24 h-10 px-3 drop-shadow-md rounded-full' %>
                <%= f.check_box :no_info %>
              </div>
            <% end %>
            <%= f.fields_for :wednesday do |f| %>
              <div>
                水曜日：
                <%= f.time_field :start, class: 'w-24 h-10 px-3 drop-shadow-md rounded-full' %>
                〜
                <%= f.time_field :end, class: 'w-24 h-10 px-3 drop-shadow-md rounded-full' %>
                <%= f.check_box :no_info %>
              </div>
            <% end %>
            <%= f.fields_for :thursday do |f| %>
              <div>
                木曜日：
                <%= f.time_field :start, class: 'w-24 h-10 px-3 drop-shadow-md rounded-full' %>
                〜
                <%= f.time_field :end, class: 'w-24 h-10 px-3 drop-shadow-md rounded-full' %>
                <%= f.check_box :no_info %>
              </div>
            <% end %>
            <%= f.fields_for :friday do |f| %>
              <div>
                金曜日：
                <%= f.time_field :start, class: 'w-24 h-10 px-3 drop-shadow-md rounded-full' %>
                〜
                <%= f.time_field :end, class: 'w-24 h-10 px-3 drop-shadow-md rounded-full' %>
                <%= f.check_box :no_info %>
              </div>
            <% end %>
            <%= f.fields_for :suturday do |f| %>
              <div>
                土曜日：
                <%= f.time_field :start, class: 'w-24 h-10 px-3 drop-shadow-md rounded-full' %>
                〜
                <%= f.time_field :end, class: 'w-24 h-10 px-3 drop-shadow-md rounded-full' %>
                <%= f.check_box :no_info %>
              </div>
            <% end %>
            <%= f.fields_for :sunday do |f| %>
              <div>
                日曜日：
                <%= f.time_field :start, class: 'w-24 h-10 px-3 drop-shadow-md rounded-full' %>
                〜
                <%= f.time_field :end, class: 'w-24 h-10 px-3 drop-shadow-md rounded-full' %>
                <%= f.check_box :no_info %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="w-full m-3">
        <%= f.submit class: 'btn-submit' %>
      </div>
    <% end %>
  </div>
</div>