<%= turbo_frame_tag 'modal' %>

<% content_for :title, 'スポット一覧 - MotoTokyo' %>

<%= turbo_frame_tag 'contents' do %>

  <div class="base-container mt-8">
    <div class="w-80 h-fit mx-auto mt-3 p-3 rounded-full bg-primary mt-3">
      <%= link_to search_spots_modal_searches_path, data: { turbo_frame: 'modal' } do %>
        <div class="w-full h-full mx-auto p-2 rounded-full drop-shadow-md bg-base-100">
          <% if @query.blank? %>
            検索
          <% else %>
            <%= @query %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="base-l mt-3 h-full">
      <% unless @spots.any? %>
        <div class="pane-a flex flex-col my-2 text-sm">
          該当するスポットがありませんでした
        </div>
      <% end %>
      <% @spots.each do |spot| %>
        <%= render partial: 'spots/spot_info', locals: { spot: spot, from: 'spot_search' } %>
      <% end %>
      <%= paginate @spots %>
    </div>
  </div>

<% end %>