<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps[:api_key] %>&callback=initMap&libraries=marker&v=beta" async defer></script>

<div class="base-container">

  <%= turbo_frame_tag 'modal' %>

  <%= render 'shared/breadcrumb' %>
  
  <div class="base-l mt-3 p-3 text-sm">
    <div class="pane-a text-base">
      <%= @spot.name %>
    </div>
    <div class="pane-a h-40 mt-3" id="map"></div>
    <div class="pane-a h-full mt-3">
      <div class="text-left">
        <%= @spot_detail.postal_code %><br>
        <%= @spot_detail.address %>
      </div>
      <div class="flex">
        <div class="flex flex-col mx-auto text-left">
          <div>
            カテゴリ：<%= t_enum('spot', 'category', @spot.category) %>
          </div>
        </div>
        <div class="flex flex-col mx-auto text-right">
          <div>
            <%= @spot_detail.opening_hours %>
          </div>
          <div>
            駐車場：<%= t_enum('spot', 'parking', @spot.parking) %>
          </div>
          <div>
            投稿者：<%= @spot.user.id %>
          </div>
        </div>
      </div>
      <div class="pane-a h-32">天気情報</div>
      <div class="flex items-center">
        <div class="w-10 h-10 mx-3 rounded-full bg-primary">画</div>
        <div class="flex-grow mr-3 rounded-full bg-primary">
          コメント<br>
          sadghsg<br>
          dfasdg
        </div>
      </div>
    </div>
  </div>

  <div class='flex w-80 mx-auto mt-5 items-center space-x-3'>
    <span>近くの駐車場</span>
    <div class="flex-1 border border-base"></div>
  </div>

  <div class="mt-3 px-8 flex gap-3.5 overflow-x-scroll whitespace-nowrap">
    <% @parkings.each do |parking| %>
      <%= render partial: 'spots/parking_card',
                 locals: { spot_detail: @spot_detail, parking: parking } %>
    <% end %>
  </div>


</div>

<script>
  function initMap() {
    const spotPosition = { lat: <%= @spot_detail.coordinate.latitude %>,
                            lng: <%= @spot_detail.coordinate.longitude %> };
    
    const map = new google.maps.Map(document.getElementById('map'), {
      mapId: "b716b462cb5d8846", 
      center: spotPosition,
      zoom: 13
    });

    const scaledMarker = new google.maps.marker.PinView({
      scale: 1.2,
    });

    const blueMarker = new google.maps.marker.PinView({
      background: "#1b73e8",
      borderColor: "#0b4087",
      glyphColor: "#0b4087"
    });

    const spotMarker = new google.maps.marker.AdvancedMarkerElement({
      map,
      position: spotPosition,
      content: scaledMarker.element,
    });

    <% @parkings.each do |parking| %>
    const parkingPosition<%= parking.id %> = { lat: <%= parking.coordinate.latitude %>,
                                                lng: <%= parking.coordinate.longitude %> }
    const parkingMarker<%= parking.id %> = new google.maps.marker.AdvancedMarkerElement({
      map,
      position: parkingPosition<%= parking.id %>,
      content: blueMarker.element
    });
    <% end %>
  }
</script>

