<div class="base-container mt-8">

  <%= turbo_frame_tag 'modal' %>

  <%= render 'shared/breadcrumb' %>
  
  <div class="base-l mt-3 p-3 ml-5 text-left">
    <%= link_to "https://www.google.com/maps/search/?api=1&query=#{@spot_detail.coordinate.latitude}%2C#{@spot_detail.coordinate.longitude}&query_place_id=#{@spot_detail.id}",
          target: "_blank" do %>
      <div class="pane-a font-semibold text-base">
        <%= @spot.name %>
      </div>
    <% end %>

    <div class="w-full h-48 mt-3 mx-auto p-2 rounded-2xl" id="map"></div>
    
    <div class="pane-a h-full mt-3">  
      <%= link_to "https://www.google.com/maps/search/?api=1&query=#{@spot_detail.coordinate.latitude}%2C#{@spot_detail.coordinate.longitude}&query_place_id=#{@spot_detail.id}",
          target: "_blank" do %>
        <div class="text-left pb-1 border-b border-gray-300">
          <p><%= @spot_detail.postal_code %></p>
          <p><%= @spot_detail.address %></p>
        </div>
      <% end %>
      
      <div class="flex justify-between">
        <div class="flex flex-col text-left">
          <div class="text-xs">
            <p class="text-sm">カテゴリ</p>
            <%= t_enum('spot', 'category', @spot.category) %>
          </div>
        </div>
        <div class="flex flex-col max-w-48 text-right">
          <div class="w-40 ml-auto">
            <%= svg_tag 'vuesax/linear/clock.svg', css_class: 'h-4 w-4 mb-0.5 inline' %>
            <%= @spot_detail.opening_hours %>
          </div>
          <div>
            <%= svg_tag 'parking_icon.svg', css_class: 'h-4 w-4 mb-0.5 inline' %>
            <%= spot_parking_info(@spot) %>
          </div>
        </div>
      </div>

      <div>
        <% if user_signed_in? %>
          <div class="flex">
            <% if @spot.bookmarked_by?(current_user) %>
              <%= link_to 'ブックマーク解除',
                  spot_bookmark_path(@spot, @spot.bookmarks.find_by(user: current_user)), 
                  class: 'btn-secondary',
                  data: { turbo_method: :delete } %>
            <% else %>
              <%= link_to 'ブックマークする', spot_bookmarks_path(@spot), 
                  class: 'btn-secondary',
                  data: { turbo_method: :post } %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div>
        <% if @comment.nil? %>
          <p class="mt-5 text-xs text-center">
            まだおすすめポイントは投稿されていません
          </p>
        <% else %>
          <%= render partial: 'comments/comment', locals: { comment: @comment, spot: @spot } %>
        <% end %>
        <div class="flex flex-col">
          <% if current_user.already_commented?(@spot) %>
            <%= link_to 'おすすめポイントを編集する', edit_spot_comment_path(@spot), 
                  class: 'btn-secondary',
                  data: { turbo_frame: 'modal' } %>
          <% else %>
            <%= link_to 'おすすめポイントを投稿する', new_spot_comment_path(@spot), 
                    class: 'btn-secondary',
                    data: { turbo_frame: 'modal' } %>
          <% end %>
          <% unless @comment.nil? %>
            <%= link_to 'おすすめポイント一覧を見る', spot_comments_path(@spot), 
                    class: 'btn-secondary',
                    data: { turbo_frame: 'modal' } %>
          <% end %>
        </div>
      </div>

      
    </div>
  </div>

  <div class='flex w-80 mx-auto mt-5 items-center space-x-3'>
    <span>半径1km圏内のパーキング</span>
    <div class="flex-1 border border-gray-300"></div>
  </div>

  <% if @parkings.any? %>
    <div class="mt-3 px-8 flex gap-3.5 overflow-x-scroll whitespace-nowrap no-scroll-bar">
      <% @parkings.each do |parking| %>
        <%= render partial: 'parkings/parking_card',
                  locals: { spot_detail: @spot_detail, parking: parking } %>
      <% end %>
    </div>
  <% else %>
    <div class="mt-3 text-center">半径1km圏内に登録済みのパーキングは<br>ありませんでした</div>      
  <% end %>

</div>

<script async>
  // マップ表示のための関数
  function initMap() {
    const spotPosition = { lat: <%= @spot_detail.coordinate.latitude %>,
                            lng: <%= @spot_detail.coordinate.longitude %> };
    
    const map = new google.maps.Map(document.getElementById('map'), {
      mapId: '<%= Rails.application.credentials.google_maps[:map_id] %>', 
      center: spotPosition,
      zoom: 13
    });

    <% if @parkings.any? %>
      <% @parkings.each do |parking| %>
        const blueMarker<%= parking.id %> = new google.maps.marker.PinView({
          background: "#1b73e8",
          borderColor: "#0b4087",
          glyphColor: "#0b4087"
        });

        const parkingPosition<%= parking.id %> = { lat: <%= parking.coordinate.latitude %>,
                                                    lng: <%= parking.coordinate.longitude %> }
        const parkingMarker<%= parking.id %> = new google.maps.marker.AdvancedMarkerElement({
          map,
          position: parkingPosition<%= parking.id %>,
          content: blueMarker<%= parking.id %>.element
        });
      <% end %>
    <% end %>

    const scaledMarker = new google.maps.marker.PinView({
      scale: 1.2,
    });

    const spotMarker = new google.maps.marker.AdvancedMarkerElement({
      map,
      position: spotPosition,
      content: scaledMarker.element,
    });
  }

  initMap();
</script>

