<%= svg_tag 'moto_tokyo_logo.svg', 
    css_class: 'logo mt-3 absolute left-1/2 translate-x-minus-fifty z-30' %>

<div class="mx-auto text-center overflow-hidden">

  <div class="swiper-main mt-16">
    <div class="swiper-wrapper z-10">
      <div class="swiper-slide relation bg-secondary rounded-3xl">
        <div class="w-full h-full rounded-3xl border-8 overflow-hidden">
          <%= image_tag 'top_image1.jpg' %>
        </div>
        <%= svg_tag 'text1.svg', css_class: 'slide-text fill-primary drop-shadow-md' %>
      </div>
      <div class="swiper-slide relation bg-secondary rounded-3xl">
        <div class="w-full h-full rounded-3xl border-8 overflow-hidden">
          <%= image_tag 'top_image2.jpg' %>
        </div>
        <%= svg_tag 'text2.svg', css_class: 'slide-text fill-secondary drop-shadow-md' %>
      </div>
      <div class="swiper-slide relation bg-secondary rounded-3xl">
        <div class="w-full h-full rounded-3xl border-8 overflow-hidden">
          <%= image_tag 'top_image3.jpg' %>
        </div>
        <%= svg_tag 'text3.svg', css_class: 'slide-text fill-primary drop-shadow-md' %>
      </div>
    </div>
  </div>
  <div class="swiper-paragraph">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <p class="slide-paragraph mt-1">
          東京に行くのは電車で十分？<br>
          ノンノン、東京には沢山の<br>
          ツーリングスポットが眠っています！
        </p>
      </div>
      <div class="swiper-slide">
        <p class="slide-paragraph mt-1">
          パーキングを探す必要はありません<br>
          付近のパーキングも同時に見つけられます！
        </p>
      </div>
      <div class="swiper-slide">
        <p class="slide-paragraph mt-1">
          お気に入りのスポットを登録して、<br>
          みんなでツーリングスポットを開拓しようsfasf！
        </p>
      </div>
    </div>
  </div>
  
  <div class="base-m mt-8 text-primary-content">
    <div>
      <p>
        会員登録して<br>
        お気に入りのスポットを登録する
      </p>
      <%= link_to '新規会員登録', new_user_registration_path,
          class: 'btn-secondary' %>
    </div>
    <div class="mt-3">
      <p>既にご登録済みの方は</p>
      <%= link_to 'ログイン', new_user_session_path, class: 'btn-secondary' %>
    </div>
  </div>

  <div class="base-m mt-8 text-primary-content">
    <div>
      <p>
        もしくはユーザーが登録した<br>
        素敵なスポットを見に行く！
      </p>
      <%= link_to 'スポット検索へ', new_search_path,
          class: 'btn-secondary' %>
    </div>
  </div>

  <div id="tablet-pc-only" class="base-l mt-8 text-primary-content hidden">
    <div>
      <p class="font-semibold text-base">
        当Webアプリケーションは<br>
        スマートフォン用に最適化されています
      </p>
      <p class="mt-3">
        下記QRコードを読み取ると<br>
        スマートフォンで使用できます
      </p>
      <%= svg_tag 'qr_code.svg', css_class: 'h-48 w-48 mx-auto mt-3' %>
    </div>
  </div>

  <div id="smartphone-tablet-only" class="base-l mt-8 text-primary-content hidden">
    <div>
      <p class="font-semibold text-base">
        当Webアプリケーションは<br>
        PWAに対応しています。
      </p>
      <p class="mt-3">
        ホーム画面に追加すると、<br>
        他のアプリと同様にお使いいただけます。
      </p>
      <%= svg_tag 'qr_code.svg', css_class: 'h-48 w-48 mx-auto mt-3' %>
    </div>
  </div>
</div>

<%= javascript_include_tag "static_pages/top", "data-turbo-track": "reload", defer: true %>