<div>
  <%= form_with model: profile do |f| %>
    <div>
      <%= f.label :user_name %>
      <%= f.text_field :user_name %>
    </div>
    <div>
      <%= f.label :avatar %>
      <% if profile.avatar.attached? %>
        <%= image_tag profile.avatar %>
      <% else %>
        <%= image_tag 'preview', class: "w-24 h-24 mx-auto rounded-full bg-base-100" %>
      <% end %>
      <%= f.file_field :avatar %>
    </div>
    <div>
      <%= f.label :vehicle_name %>
      <%= f.text_field :vehicle_name %>
    </div>
    <div>
      <%= f.label :vehicle_type %>
      <%= f.select :vehicle_type,
          Profile.vehicle_types.keys.map { |key| [t_enum('profile', 'vehicle_type', key), key] },
          include_blank: true %>
    </div>
    <div>
      <%= f.label :vehicle_photo %>
      <% if profile.vehicle_photo.attached? %>
        <%= image_tag profile.vehicle_photo %>
      <% else %>
        <%= image_tag 'preview', class: "w-32 h-32 mx-auto rounded-2xl bg-base-100" %>
      <% end %>
      <%= f.file_field :vehicle_photo %>
    </div>
    <div>
      <%= f.submit '登録', class: 'btn-secondary' %>
    </div>
  <% end %>
</div>