<%= turbo_stream.append 'capacities-container' do %>
  <div>
    <div>
      <select class="w-64 h-10 px-3 drop-shadow-md rounded-full" name="parking[capacity][<%= @index %>][vehicle_type]">
        <option value label=""></option>
        <%= ParkingCapacity.vehicle_types.keys.map do |key| %>
          <option value="<%= key %>"><%= t_enum('parking_capacity', 'vehicle_type', key) %></option>
        <% end %>
      </select>
    </div>
    <div>
      <input class="w-24 h-10 px-3 drop-shadow-md rounded-full" type="number" name="parking[capacity][<%= @index %>][capacity]">台
    </div>
  </div>
<% end %>