<div class="base-container">

  <h1 class="h1">メールアドレスの変更</h1>

  <div class="base-m mt-8 text-primary-content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="mt-3">
        <%= f.label :email, 'メールアドレス', class: 'font-semibold' %><br>
        <%= f.email_field :email, autocomplete: "email",
            class: 'w-48 h-6 bg-primary border-b' %>
        <%= render partial: 'shared/error_messages', locals: { object: resource, attribute: :email } %>
      </div>
      <div class="mt-8">
        <p>
          変更するには認証のため、<br>
          パスワードを入力してください
        </p>
      </div>
      <div class="mt-1">
        <%= f.label :current_password, class: 'font-semibold' %><br>
        <%= f.password_field :current_password, autocomplete: "current-password",
            class: 'w-48 h-6 bg-primary border-b' %>
        <%= render partial: 'shared/error_messages', locals: { object: resource, attribute: :current_password } %>
      </div>
      <div>
        <%= f.submit "変更", class: 'btn-secondary',
            data: { turbo_confirm: "新しいメールアドレス宛に確認メールが送信されます。入力内容に誤りがないか再度ご確認をお願いします。\n（再認証が完了するまで変更処理は完了しません。）" } %>
      </div>
    <% end %>
  </div>

  <div class="base-m mt-8 text-primary-content">
    <p>
      もしくは<br>
      アカウントを削除する
    </p>
    <%= button_to 'アカウント削除', user_registration_path(resource_name),
        class: 'btn-danger',
        method: :delete,
        data: { turbo_confirm: 'この操作は取り消せません。本当によろしいですか？' } %>
  </div>
</div>