<%= turbo_frame_tag 'modal' do %>

  <%= stylesheet_link_tag 'animations/modal', data: { turbolinks_track: 'reload' } %>

  <div class='fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-20'
        data-controller="modal"
        data-modal-target="background"
        data-action="click->modal#closeModal">
    <div class="modal-h-fit text-sm bg-primary no-scroll-bar"
         data-modal-target="modal">
      
      <div>
        <%= form_with model: [@spot, @comment] do |f| %>
          <p class="m-3 text-base font-semibold text-primary-content">
            おすすめポイントを教えてください
          </p>
          <%= f.text_area :content,
              { size: "20x10",
                class: 'daisy-textarea w-64 h-32 px-3 drop-shadow-md bg-white' } %>
          <%= f.submit '更新する',
            class: 'btn-secondary ml-10',
            data: { turbo_frame: '_top',
                    action: 'click->modal#closeModalBySubmit' } %>
        <% end %>
      </div>
      <div>
        <div class="mt-3">または</div>
        <%= link_to 'おすすめポイントを削除する', spot_comment_path(@spot),
            class: 'btn-danger',
            data: { turbo_confirm: '本当に削除してよろしいですか？',
                    turbo_frame: '_top',
                    turbo_method: :delete,
                    action: 'click->modal#closeModalBySubmit' } %>
      </div>
    </div>
  </div>

<% end %>