<% content_for :title, 'スポット一覧 - MotoTokyo' %>

<%= stylesheet_link_tag 'animations/modal', data: { turbolinks_track: 'reload' } %>
<%= stylesheet_link_tag 'animations/map_view', data: { turbolinks_track: 'reload' } %>

<%= turbo_frame_tag 'modal' %>

<div class="base-container mt-8">

  <%= render 'shared/breadcrumb' %>
  
  <div class="relative w-11/12 h-128 mt-3 mx-auto rounded-2xl overflow-hidden">
    <div class="w-full h-full p-2 rounded-2xl border-2" id="map"></div>
    <div id="search-button"
         class="absolute left-3 top-3 daisy-btn daisy-btn-circle daisy-btn-primary">
      <%= svg_tag 'vuesax/linear/search-normal.svg',
                  css_class: 'rounded-full stroke-primary-content' %>
    </div>
    <div id="search-board"
         class="absolute -top-16 left-1/2 -translate-x-1/2
                flex content-center w-fit h-14 p-3 rounded-full bg-primary">
      <%= form_with model: @search_spots_form,
                    url: search_spots_searches_path,
                    method: :get,
                    html: { id: 'search-form',
                            class: 'daisy-join w-full h-8 mx-auto rounded-2xl text-xs' ,
                            data: { action: 'submit->modal#closeModalBySubmit' } } do |f| %>
        <%= f.select :area,
            Spot.areas.keys.map { |key| [t_enum('spot', 'area', key), key] },
            { prompt: 'エリア' },
            { class: 'daisy-join-item' } %>
        <%= f.select :category,
            Spot.categories.keys.map { |key| [t_enum('spot', 'category', key), key] },
            { include_blank: 'カテゴリ' },
            { class: 'daisy-join-item' } %>
        <%= f.select :parking,
            Spot.parkings.keys.map { |key| [t_enum('spot', 'parking', key), key] },
            { include_blank: 'パーキング' },
            { class: 'daisy-join-item' } %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'map_views/new', 'data-turbo-track': 'reload', defer: true %>
