<%= link_to notification_path(notification), data: { turbo: false } do %>
  <div class="pane-a mb-3 border-2 drop-shadow-md">
    <div class="font-semibold">
      <span>【<%= t_enum('notification', 'notification_type', notification.notification_type ) %>】</span>
      <span><%= notification.title %></span>
    </div>
    <div><%= notification.message %></div>
    <div class="flex justify-between">
      <% if notification.read %>
        <p class="ml-1 text-sm">確認済み</p>
      <% else %>
        <p class="ml-1 font-semibold text-red-400">未読</p>
      <% end %>
      <p class="mt-1 text-xs text-right"><%= notification.created_at.strftime('%F %H:%M') %></p>
    </div>
  </div>
<% end %>