<% if notice %>
  <%= stylesheet_link_tag 'animations/flash', data: { turbolinks_track: 'reload' } %>
  <div role="alert" class="flash start-flash-animation bg-secondary"
       data-flash-target="flashMessage"
       data-controller="flash">
    <%= svg_tag 'vuesax/linear/tick-circle.svg' %>
    <div>
      <h3 class="font-semibold ml-2"><%= notice %></h3>
    </div>
    <button class="daisy-btn daisy-btn-square daisy-btn-ghost ml-auto"
            data-flash-controller="button"
            data-action="click->flash#endFlash">
      <%= svg_tag 'vuesax/linear/cross.svg', css_class: 'stroke-neutral' %>
    </button>
  </div>
<% elsif alert %>
  <%= stylesheet_link_tag 'animations/flash', data: { turbolinks_track: 'reload' } %>
  <div role="alert" class="flash start-flash-animation bg-error"
       data-flash-target="flashMessage"
       data-controller="flash">
    <%= svg_tag 'vuesax/linear/info-circle.svg' %>
    <div>
      <h3 class="font-semibold ml-2"><%= alert %></h3>
    </div>
    <button class="daisy-btn daisy-btn-square daisy-btn-ghost ml-auto"
            data-flash-controller="button"
            data-action="click->flash#endFlash">
      <%= svg_tag 'vuesax/linear/cross.svg', css_class: 'stroke-neutral' %>
    </button>
  </div>
<% end %>

