<header class="daisy-navbar border-b bg-primary">
  
  <%= turbo_frame_tag 'side_menu' %>
  
  <div class="daisy-navbar-start">
    <%= link_to side_menu_path, class: 'w-fit h-fit',
                               data: { turbo_frame: 'side_menu' } do %>
      <%= svg_tag 'vuesax/linear/menu.svg',
          css_class: 'daisy-btn daisy-btn-square daisy-btn-ghost w-7 h-7 min-h-7 ml-3 stroke-primary-content' %>
    <% end %>
  </div>
  <div class="daisy-navbar-center">
    <% if user_signed_in? %>
      <%= link_to home_path, class: 'w-fit h-fit' do %>
        <%= svg_tag 'moto-tokyo-logo.svg', css_class: 'daisy-btn daisy-btn-square daisy-btn-ghost w-20 h-12' %>
      <% end %>
    <% elsif !current_page?(root_path) %>
      <%= link_to root_path, class: 'w-fit h-fit' do %>
        <%= svg_tag 'moto-tokyo-logo.svg', css_class: 'daisy-btn daisy-btn-square daisy-btn-ghost w-20 h-12' %>
      <% end %>
    <% end %>
  </div>
  <div class="daisy-navbar-end">
    <% if user_signed_in? %>
      <%= link_to '#', class: 'w-fit h-fit' do %>
        <%= svg_tag 'vuesax/linear/notification.svg',
            css_class: 'daisy-btn daisy-btn-square daisy-btn-ghost w-7 h-7 min-h-7 mr-3 stroke-primary-content' %>
      <% end %>
    <% end %>
  </div>
</header>