<div class="daisy-btm-nav bg-primary ">
  <%= link_to home_path, class: 'cursor-default' do %>
    <%= svg_tag 'vuesax/linear/home.svg', css_class: 'cursor-pointer stroke-primary-content' %>
  <% end %>
  <%= link_to new_search_path, class: 'cursor-default' do %>
    <%= svg_tag 'vuesax/linear/search-normal.svg', css_class: 'cursor-pointer stroke-primary-content' %>
  <% end %>
  <%= link_to new_spot_path, class: 'cursor-default' do %>
    <%= svg_tag 'vuesax/linear/location-add.svg', css_class: 'cursor-pointer stroke-primary-content' %>
  <% end %>
  <%= link_to my_spots_path, class: 'cursor-default' do %>
    <%= svg_tag 'vuesax/linear/note.svg', css_class: 'cursor-pointer stroke-primary-content' %>
  <% end %>
  <%= link_to my_page_path, class: 'cursor-default' do %>
    <%= svg_tag 'vuesax/linear/profile-circle.svg', css_class: 'cursor-pointer stroke-primary-content'  %>
  <% end %>
</div>
