<div class="navbar daisy-btm-nav border-t bg-primary z-50">
  <div class="cursor-default">
    <%= link_to home_path, class: 'w-fit h-fit' do %>
      <%= svg_tag 'vuesax/linear/home.svg',
          css_class: 'daisy-btn daisy-btn-ghost daisy-btn-square w-7 h-7 min-h-7 mx-auto
                      cursor-pointer stroke-primary-content' %>
    <% end %>
  </div>
  <div class="cursor-default">
    <%= link_to new_search_path, class: 'w-fit h-fit' do %>
      <%= svg_tag 'vuesax/linear/search-normal.svg',
          css_class: 'daisy-btn daisy-btn-ghost daisy-btn-square w-7 h-7 min-h-7 mx-auto
                      cursor-pointer stroke-primary-content' %>
    <% end %>
  </div>
  <div class="cursor-default">
    <%= link_to new_spot_path, class: 'w-fit h-fit' do %>
      <%= svg_tag 'vuesax/linear/location-add.svg',
          css_class: 'daisy-btn daisy-btn-ghost daisy-btn-square w-7 h-7 min-h-7 mx-auto
                      cursor-pointer stroke-primary-content' %>
    <% end %>
  </div>
  <div class="cursor-default">
    <%= link_to my_spots_path, class: 'w-fit h-fit' do %>
      <%= svg_tag 'vuesax/linear/note.svg',
          css_class: 'daisy-btn daisy-btn-ghost daisy-btn-square w-7 h-7 min-h-7 mx-auto
                      cursor-pointer stroke-primary-content' %>
    <% end %>
  </div>
  <div class="cursor-default">
    <%= link_to my_page_path, class: 'w-fit h-fit' do %>
      <%= svg_tag 'vuesax/linear/profile-circle.svg',
          css_class: 'daisy-btn daisy-btn-ghost daisy-btn-square w-7 h-7 min-h-7 mx-auto
                      cursor-pointer stroke-primary-content' %>
    <% end %>
  </div>
</div>
