<div class="base-container">
  <h1 class="h1">マイページ</h1>

  <div class="base-l mt-8 text-primary-content">
    <div>
      <div class="text-base font-semibold">
        <%= @profile.user_name %>
      </div>
      <div>
        <%= link_to "ID : #{current_user.id}", account_path  %>
      </div>
    </div>
    <div class="w-28 h-28 mt-5 mx-auto overflow-hidden rounded-full bg-base-100 content-center">
      <% if @profile.avatar.attached? %>
        <%= image_tag @profile.avatar, alt: '画像アップロード中。画面更新で表示されます。' %>
      <% else %>
        <%= image_tag 'preview', class: "w-32 h-32 m-auto rounded-2xl bg-base-100" %>
      <% end %>
    </div>
    <div>
      <p></p>
    </div>
    <div class="mt-5">
      <p class="text-base">登録したスポット数</p>
      <p class="text-2xl text-bold"><%= current_user.spots.count %></p>
    </div>
    <div class="mt-5 text-base">
      <%= "愛車：#{@profile.vehicle_name}"%>
    </div>
    <div>
      <% if @profile.vehicle_photo.attached? %>
        <%= image_tag @profile.vehicle_photo, class: 'mx-auto rounded-2xl' %>
      <% else %>
        <%= image_tag 'preview', class: 'w-32 h-32 mx-auto rounded-2xl bg-base-100' %>
      <% end %>
    </div>
    <div>
      <%= link_to 'プロフィール編集', edit_profile_path(@profile),
          class: 'btn-secondary' %>
    </div>
  </div>

</div>