<% content_for :title, 'マイページ - MotoTokyo' %>

<div class="base-container">
  <%= turbo_frame_tag 'modal' %>

  <h1 class="h1">マイページ</h1>

  <div class="base-l mt-8 text-primary-content">
    <div>
      <div class="text-base font-semibold">
        <%= @profile.user_name.blank? ? 'ユーザーネーム未設定' : @profile.user_name %>
      </div>
      <div>
        <%= link_to "ユーザーID : #{current_user.id}", account_path  %>
      </div>
    </div>
    <div class="w-28 h-28 mt-5 mx-auto overflow-hidden content-center
                rounded-full border bg-base-300 text-xs text-neutral">
      <% if @profile.avatar.attached? %>
        <%= image_tag @profile.avatar, alt: "\n画像アップロード処理中。画面更新で表示されます。", class: 'w-full h-full text-center' %>
      <% else %>
        <%= image_tag 'preview.png', class: "w-full h-full m-auto rounded-2xl" %>
      <% end %>
    </div>
    <div class="mt-5">
      <p class="text-base">登録したスポット数</p>
      <p class="text-2xl text-bold"><%= current_user.spots.count %></p>
    </div>
    <div class="mt-5 text-base">
      <% if @profile.vehicle_name %>
        <%= "愛車：#{@profile.vehicle_name}"%>
      <% else %>
        愛車情報登録なし
      <% end %>
    </div>
    <div class="mx-auto rounded-2xl overflow-hidden border bg-base-300 text-xs text-neutral">
      <% if @profile.vehicle_photo.attached? %>
        <%= image_tag @profile.vehicle_photo, alt: '画像アップロード処理中。画面更新で表示されます。' %>
      <% else %>
        <%= image_tag 'preview.png', class: 'w-32 h-32 mx-auto' %>
      <% end %>
    </div>
    <div class="mt-3">
      <%= link_to 'プロフィール編集', edit_profile_path(@profile),
          class: 'btn-secondary' %>
    </div>
    <div class="flex mt-3">
      <%= link_to '友達一覧', friendships_path(from: 'my_page'),
          class: 'btn-secondary pr-5' %>
      <%= link_to '友達追加', add_friend_friendships_path,
          class: 'btn-secondary pl-5',
          data: { turbo_frame: 'modal' } %>
    </div>
  </div>
</div>
