<%= turbo_frame_tag 'modal' do %>

  <%= stylesheet_link_tag 'animations/modal', data: { turbolinks_track: 'reload' } %>

  <div class='background'
        data-controller="modal"
        data-modal-target="background"
        data-action="click->modal#closeModal">
    <div class="modal-h-fit text-sm bg-primary"
         data-modal-target="modal">
      <div class="pane-a max-h-112 overflow-y-scroll">
          
          <h1 class="h1">東京の天気情報</h1>

          <%# APIの不調か文字列が繰り返されているため一旦停止 %>
          <%# <div> %>
            <%# <p><%= @data['description']['text'] %>
          <%# </div> %>

          <div>
            <div class="mt-3">
              <%= render partial: 'homes/weather_forecast_detail', locals: { data: @first } %>
            </div>
            <div class="mt-3">
              <%= render partial: 'homes/weather_forecast_detail', locals: { data: @second } %>
            </div>
            <div class="mt-3">
              <%= render partial: 'homes/weather_forecast_detail', locals: { data: @third } %>
            </div>
          </div>

          <div class="mt-3 text-right">
            <p><%= "#{@data['publicTimeFormatted'][0...-3]}時点" %></p>
            <p class="link">
              <%= link_to @data['copyright']['provider'][0]['name'],
                          @data['copyright']['provider'][0]['link'],
                          target: '_blank' %>
            </p>
          </div>

      </div>
    </div>
  </div>

<% end %>