<% content_for :title, 'スポット検索 - MotoTokyo' %>

<div class="base-container">

  <h1 class="h1">スポット検索</h1>

  <p class="text-sm">
    新しいスポットを見つけましょう！<br>
    ユーザーが登録したスポットを閲覧できます。<br>
  </p>
  
  <div class="base-l mt-8">
    <div tabindex="0" class="daisy-collapse"> 
      <input type="checkbox" id="collapse-check" class="cursor-pointer"> 
      <div id="collapse-title"
           class="daisy-collapse-title relative border-b-2 text-base text-primary-content">
        <%= svg_tag 'vuesax/linear/arrow-down.svg', css_class: 'absolute stroke-primary-content' %>
        <p>条件を指定して検索</p>
      </div>
      <div class="daisy-collapse-content"> 
        <div class="text-center">
          <div class="w-64 h-fit mt-3 mx-auto p-3 rounded-3xl bg-base-100">
            <%= form_with model: @search_spots_form,
                          url: search_spots_searches_path(from: 'search_top'),
                          method: :get do |f| %>
              <div class="mt-3">
                <%= f.label :area, 'エリア' %>
                <%= f.select :area,
                    Spot.areas.keys.map { |key| [t_enum('spot', 'area', key), key] },
                    { include_blank: true },
                    { class: 'text-field-m' } %>
              </div>
              <div class="mt-3">
                <%= f.label :category, 'カテゴリー' %>
                <%= f.select :category,
                    Spot.categories.keys.map { |key| [t_enum('spot', 'category', key), key] },
                    { include_blank: true },
                    { class: 'text-field-m' } %>
              </div>
              <div class="mt-3">
                <%= f.label :parking, '駐車場' %>
                <%= f.select :parking,
                      Spot.parkings.keys.map { |key| [t_enum('spot', 'parking', key), key] },
                      { include_blank: true },
                      { class: 'text-field-m mb-5' } %>
              </div>
              <%= f.submit '検索', class:'btn-secondary' %>
            <% end %>
          </div>
      </div>
      </div>
    </div>

    <p class ="mt-3 text-base text-primary-content">
      もしくは<br>
      条件を指定しないで一覧を見る
    </p>
    <%= link_to 'スポット一覧', spots_path(from: 'search_top'),
        class: 'btn-secondary' %>

    <p class ="mt-3 text-base text-primary-content">
        地図上でスポットを確認
      </p>
      <%= link_to '地図', map_view_searches_path(from: 'search_top'),
          class: 'btn-secondary' %>
    </div>
  </div>

</div>

