<%= turbo_frame_tag 'modal' do %>

  <%= stylesheet_link_tag 'animations/modal', data: { turbolinks_track: 'reload' } %>

  <div class='background'
       data-controller="modal"
       data-modal-target="background"
       data-action="click->modal#closeModal">
    <div class="base-m mx-auto drop-shadow-2lg text-center"
         data-modal-target="modal">
      <%= form_with model: @search_spots_form,
                    url: search_spots_searches_path,
                    method: :get,
                    html: { data: { action: 'submit->modal#closeModalBySubmit' } } do |f| %>
        <div class="mt-3 text-base">
          <%= f.label :area, 'エリア', class: 'text-primary-content' %>
          <%= f.select :area,
              Spot.areas.keys.map { |key| [t_enum('spot', 'area', key), key] },
              { include_blank: true },
              { class: 'text-field-m' } %>
        </div>
        <div class="mt-3 text-base">
          <%= f.label :category, 'カテゴリー', class: 'text-primary-content' %>
          <%= f.select :category,
              Spot.categories.keys.map { |key| [t_enum('spot', 'category', key), key] },
              { include_blank: true },
              { class: 'text-field-m' } %>
        </div>
        <div class="mt-3 text-base">
          <%= f.label :parking, '駐車場', class: 'text-primary-content' %>
          <%= f.select :parking,
                Spot.parkings.keys.map { |key| [t_enum('spot', 'parking', key), key] },
                { include_blank: true },
                { class: 'text-field-m mb-5' } %>
        </div>
        <%= f.submit '検索', class:'btn-secondary',
                             data: { turbo_frame: 'contents' } %>
      <% end %>
    </div>
  </div>

<% end %>