<%= turbo_frame_tag 'modal' do %>

  <%= stylesheet_link_tag 'animations/modal', data: { turbolinks_track: 'reload' } %>

  <div class='fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-20'
        data-controller="modal"
        data-modal-target="background"
        data-action="click->modal#closeModal">
    <div class="modal text-sm bg-primary no-scroll-bar"
         data-modal-target="modal">
      <div class="pane-a max-h-18 font-semibold text-base text-left">
        <%= @parking.name %>
      </div>
      <div class="w-full h-48 mt-3 mx-auto p-2 rounded-2xl" id="parking-map"></div>
      <div class="pane-a max-h-42 mt-3 overflow-y-scroll">
        <div class="text-left pb-1 border-b border-gray-300">
          <%= @parking.address %>
        </div>
        <div class="flex flex-col text-right">
          <div class="p-1">
            <div>
              <% if @parking.capacity %>
                <%= "収容可能台数：#{@parking.capacity}" %>
              <% else %>
                収容可能台数：情報無し
              <% end %>
            </div>
            <div>
              <% if @parking.limitation %>
                <%= "車両制限：#{@parking.limitation}" %>
              <% else %>
                車両制限：情報無し
              <% end %>
            </div>
          </div>
          <div class="p-1">
            <%= @parking.operation_info %>
          </div>
          <div class="p-1">
            <%= @parking.fee || '料金：情報無し' %>
          </div>
        </div>
        <div class="w-fit mt-3 mx-auto overflow-hidden drop-shadow-md rounded-2xl ">
          <%= link_to @parking.url, target: '_blank' do %>
            <%= image_tag 'spark_logo.jpg' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <script>
    initMap();

    function initMap() {
      const parkingPosition = { lat: <%= @parking.coordinate.latitude %>,
                              lng: <%= @parking.coordinate.longitude %> };
      
      const map = new google.maps.Map(document.getElementById('parking-map'), {
        mapId: '<%= Rails.application.credentials.google_maps[:map_id] %>',
        center: parkingPosition,
        zoom: 13
      });

      const blueScaledMarker = new google.maps.marker.PinView({
        scale: 1.2,
        background: "#1b73e8",
        borderColor: "#0b4087",
        glyphColor: "#0b4087"
      });

      const parkingMarker = new google.maps.marker.AdvancedMarkerElement({
        map,
        position: parkingPosition,
        content: blueScaledMarker.element,
      });
    }
  </script>

<% end %>