<div class="mt-1 p-1 drop-shadow-md border-2 rounded-xl bg-base-100">
  <p class="font-semibold text-sm text-center m-1">行きやすさ投票</p>
  <div class="flex border h-3">
    <div class="bg-green-400 duration-200" style="width: <%= Difficulty.percentage(@spot, 'easy') %>%;"></div>
    <div class="bg-red-400 duration-200" style="width: <%= Difficulty.percentage(@spot, 'traffic') %>%;"></div>
    <div class="bg-blue-400 duration-200" style="width: <%= Difficulty.percentage(@spot, 'direction') %>%;"></div>
    <div class="bg-yellow-400 duration-200" style="width: <%= Difficulty.percentage(@spot, 'condition') %>%;"></div>
  </div>
  <div class="flex flex-wrap">
    <div class="flex items-center w-1/2">
      <span class="h-2.5 w-2.5 mr-1 rounded-full bg-green-400"></span>
      <span class="text-xs"><%= t_enum('difficulty', 'level', 'easy')%></span>
    </div>
    <div class="flex items-center w-1/2">
      <span class="h-2.5 w-2.5 mr-1 rounded-full bg-red-400"></span>
      <span class="text-xs"><%= t_enum('difficulty', 'level', 'traffic')%></span>
    </div>
    <div class="flex items-center w-1/2">
      <span class="h-2.5 w-2.5 mr-1 rounded-full bg-blue-400"></span>
      <span class="text-xs"><%= t_enum('difficulty', 'level', 'direction')%></span>
    </div>
    <div class="flex items-center w-1/2">
      <span class="h-2.5 w-2.5 mr-1 rounded-full bg-yellow-400"></span>
      <span class="text-xs"><%= t_enum('difficulty', 'level', 'condition')%></span>
    </div>
  </div>
  <div class="text-xs text-right"><%= "#{@spot.difficulties.count}件の投票" %></div>
</div>