<%= turbo_frame_tag 'wizard' do %>

  <%= javascript_include_tag 'spot_registrations/step2', 'data-turbo-track': 'reload', async: true %>

  <div class="flex flex-col w-52 h-24 m-auto mt-3 rounded-full justify-center bg-base-100">
    <p class="text-2xl font-semibold">かんたん登録</p>
    <p class="text-xl font-semibold">STEP 2/4</p>
  </div>
  <%= form_with model: @spot,
                url: step3_spot_registrations_path,
                method: :get,
                data: { controller: 'wizard', wizard_target: 'contents' },
                class: 'grow' do |f| %>
    <div>
      <p class="m-3 text-base font-semibold text-primary-content">
        その施設内に<br>バイクの駐車場はありましたか？
      </p>
      <%= f.select :parking,
          Spot.parkings.keys.map { |key| [t_enum('spot', 'parking', key), key] },
          { include_blank: true },
          { id: 'parking-select',
            class: 'text-field-l' } %>           
    </div>
    <div id='parking-limitation-div' class="hidden">
      <p class="m-3 text-base font-semibold text-primary-content">
        駐車場に制限はありましたか？
      </p>
      <%= f.select :parking_limitation,
          Spot.parking_limitations.keys.map { |key| [t_enum('spot', 'parking_limitation', key), key] },
          { include_blank: true },
          { id: 'parking-limitaiton-select',
            class: 'text-field-l' } %>
    </div>
    <div class="flex absolute bottom-3 w-full left-1/2 -translate-x-1/2">
      <%= f.submit '戻る',
          name: 'back',
          data: { wizard_target: 'back', action: 'click->wizard#back' },
          class: 'btn-secondary' %>
      <%= f.submit '次へ',
          name: 'next',
          disabled: true,
          data: { wizard_target: 'next', action: 'click->wizard#next' },
          id: 'go-to-step3-button',
          class: 'btn-secondary' %>
    </div>
  <% end %>

<% end %>