<%= turbo_frame_tag 'modal' do %>

  <div class='fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-20'
       data-controller="modal"
       data-modal-target="background"
       data-action="click->modal#closeModal">
    <div class="modal flex flex-col bg-primary"
         data-modal-target="modal">
      <%= turbo_frame_tag 'wizard', class: 'flex flex-col grow relative text-center' do %>
        
        <%= javascript_include_tag 'spot_registrations/step1', 'data-turbo-track': 'reload', defer: true %>

        <div class="w-52 h-24 mx-auto mt-3 rounded-full content-center bg-base-100">
          <p class="text-2xl font-semibold">かんたん登録</p>
          <p class="text-xl font-semibold">STEP 1/4</p>
        </div>
        <%= form_with model: @spot,
                      url: step2_spot_registrations_path,
                      method: :get,
                      data: { controller: 'wizard', wizard_target: 'contents' },
                      class: 'grow' do |f| %>
          <div>
            <p class="m-3 text-base font-semibold text-primary-content">
              登録したいスポット名を教えてください
            </p>
            <%= f.text_field :name,
                autocomplete: 'off',
                data: { wizard_target: 'input' },
                id: 'place-autocomplete-input',
                class: 'text-field-l' %>             
          </div>
          <div id="place-check-result"></div>
          <div class="absolute bottom-3 left-1/2 -translate-x-1/2">
            <%= f.submit '次へ',
                disabled: true,
                data: { wizard_target: 'next', action: 'click->wizard#next' },
                id: 'go-to-step2-button',
                class: 'btn-secondary' %>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>

<% end %>