<%= turbo_frame_tag 'wizard' do %>

  <div class="flex flex-col w-52 h-24 m-auto mt-3 rounded-full justify-center bg-base-100">
    <p class="text-2xl font-semibold">かんたん登録</p>
    <p class="text-xl font-semibold">STEP 4/4</p>
  </div>
  <%= form_with url: confirmation_spot_registrations_path,
                method: :get,
                data: { controller: 'wizard', wizard_target: 'contents' },
                class: 'grow' do |f| %>
    <%= fields_for :comment, @comment do |f| %>
      <div>
        <p class="m-3 text-base font-semibold text-primary-content">
          おすすめポイントを教えてください<br>
          （任意入力）
        </p>
        <%= f.text_area :content,
            { size: "20x10",
              class: 'daisy-textarea w-64 h-32 px-3 drop-shadow-md bg-white' } %>
      </div>
    <% end %>
    <div class="flex absolute bottom-3 w-full left-1/2 -translate-x-1/2">
      <%= f.submit '戻る',
          name: 'back',
          data: { wizard_target: 'back', action: 'click->wizard#back' },
          class: 'btn-secondary mr-10' %>
      <%= f.submit '確認',
          data: { wizard_target: 'next', action: 'click->wizard#next' },
          class: 'btn-secondary ml-10' %>
    </div>
  <% end %>

<% end %>