<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.ico') %>
    <title><%= yield(:title) || "MotoTokyo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps[:api_key] %>&libraries=places,marker&v=beta"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@11.1.3/swiper-bundle.min.css">

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module' %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <%= render partial: 'shared/flash_message', locals: { notice: notice, alert: alert } %>

    <main>
      <%= yield %>
    </main>

    <% if user_signed_in? %>
      <div class="h-20 bg-base-100"></div>
      <%= render 'shared/navbar' %>
    <% else %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
